@font-face { font-family: "Myriad Pro"; src: url("MyriadPro-Regular.otf"); } 

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.main-container {
    min-height: 320px;
    min-width: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right:200px;
    bottom: 150px; 
}

.emails-block {
    min-height: 220px;
    min-width: 500px;
    width:100%; 
    height: 40%;
    position: relative;
}

.button-block {
    margin: 21px 0 0 30px;
}

.custom-button {
    background-color: #6699FF;
    min-width: 100px;
    padding: 8px 11px;
    border-radius: 3px;
    border: 0px;
    color: #FFF;
    margin: 9px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .3px;
}